services:
  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d mydb -U postgres"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 80s
    ports:
      - "5432:5432"
    volumes:
      - ${DB_DATA_PATH}:/var/lib/postgresql/data

  backend:
    container_name: backend
    build: ./backend
    volumes:
      - .env:/app/.env
    ports:  
      - 8080
    depends_on:
      db:
        condition: service_healthy

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 8080
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true
    command: npm run dev

  gateway:
    image: pawerup.ru:5000/gateway:latest
    container_name: gateway
    build: ./gateway
    ports:
      - 80:80
      - 443:443
    depends_on:
      - backend
      - frontend
