services:
  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d db_prod"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 80s
    ports:
      - "5432:5432"
    volumes:
      - ${DB_DATA_PATH}:/var/lib/postgresql/data

  service:
    container_name: sevice
    build: ./
    volumes:
      - .env:/app/.env
    ports:
      - 8080